In [16]:
import pandas as pd
import numpy as np

# Creating Data in form of dictionary
data = {
    "Name": ["John", "Sara", "Mike"],
    "Age": [23, 29, 31],
    "City": ["NY", "LA", "Chicago"]
}

# Creating Data Frame out of this Data.
df = pd.DataFrame(data)
print(df)


# Basic DataFrame Operations
df.head() # Gives the first 5 rows by default if the rows are less than five than all the rows

# filter row by a condition
df[df['Age']>25]  # filtering records with Age greater than 25

# adding a new column
df['Age Next year'] = df['Age']+1
print(df)


# Add a column called 'Age_category' that is "Young" if Age < 30 else "Old"
df['Age_category'] = np.where(df['Age'] < 30, 'Young', 'Old')
# Print all rows where City is "NY"
df[df['City']=='NY']

   Name  Age     City
0  John   23       NY
1  Sara   29       LA
2  Mike   31  Chicago
   Name  Age     City  Age Next year
0  John   23       NY             24
1  Sara   29       LA             30
2  Mike   31  Chicago             32

   Name  Age City  Age Next year Age_category
0  John   23   NY             24        Young

In [48]:
data = {
    'id' : [1,2,3,4],
    'Name' : ['Alice','Bob','Charlie','Diana'],
    'Age' : [30,25,35,28],
    'Department' : ['HR','IT','IT','Marketing'],
    'Salary' : [50000,60000,70000,52000]
}



df = pd.DataFrame(data)
# df.head()

# Add a new column 'Age Group' based on condition 'Young' if age < 30 else 'Experienced'
# df['Age Group'] = np.where(df['Age']<30, 'Young','Experienced')
# print(df)

df[df['Department']=='IT']



# Add a column called Bonus = 10% of Salary
df['Bonus'] = df['Salary']*1.1
print(df)
# Show only those with Salary > 55000
df[df['Salary']>55000]
# Count how many employees are in each department (df['Department'].value_counts())
df['Department'].value_counts()

   id     Name  Age Department  Salary    Bonus
0   1    Alice   30         HR   50000  55000.0
1   2      Bob   25         IT   60000  66000.0
2   3  Charlie   35         IT   70000  77000.0
3   4    Diana   28  Marketing   52000  57200.0

Department
IT           2
HR           1
Marketing    1
Name: count, dtype: int64